/*
  button: #50E3A4,
  plus: #46BE8B,
  backgroung: #F0EFE9,
  font: #56596A
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #56596A;
  background-color: #F0EFE9;
}